<cruisecontrol xmlns:cb="urn:ccnet.config.builder">
  <!-- Common Variables -->
  <cb:define ccnetDirectory="C:\VSD\ccnet"
             buildversion="$[$CCNetLabel]"
             projectName="$[$CCNetProject]"
			 buildServer="10.200.93.229"
			 metranetRepoDirectory="c:\dev\MetraNet"
			 branch="feature/TeamTA"
			 gitCommandsDirectory="c:\dev\GitCommands"
			 version="Debug"/>
	
  <queue name="Q1" duplicates="UseFirst"/>

  <project name="CruiseControl Configuration" queue="Q1" queuePriority="1">
    <triggers>
      <intervalTrigger seconds="30" />
    </triggers>
    <sourcecontrol type="git">
      <repository>git@github.com:svishnevskiy/ccnet.git</repository>
      <executable>C:\Program Files (x86)\Git\cmd\git.cmd</executable>
      <workingDirectory>$(ccnetDirectory)</workingDirectory>
    </sourcecontrol>
  </project>  
  
  <project name="MetraNet Debug Version" queue="Q1" queuePriority="3">
    <webURL>http://$(buildServer)/ccnet/server</webURL>
    <modificationDelaySeconds>10</modificationDelaySeconds>
    <maxSourceControlRetries>3</maxSourceControlRetries>
    <stopProjectOnReachingMaxSourceControlRetries>true</stopProjectOnReachingMaxSourceControlRetries>
    <sourceControlErrorHandling>ReportOnRetryAmount</sourceControlErrorHandling>

    <triggers>
      <intervalTrigger name="continuous" seconds="30" buildCondition="IfModificationExists" initialSeconds="30"/>
    </triggers>

    <sourcecontrol type="git">
      <repository>git@github.com:MetraTech/MetraNet.git</repository>
      <branch>$(branch)</branch>
      <fetchSubmodules>true</fetchSubmodules>
      <executable>C:\Program Files (x86)\Git\cmd\git.cmd</executable>
      <workingDirectory>$(metranetRepoDirectory)</workingDirectory>
    </sourcecontrol>

    <prebuild>

      <exec>
        <executable>cmd.exe</executable>
        <baseDirectory>$(ccnetDirectory)</baseDirectory>
        <buildArgs>/c echo TaskTimer= Before prebuild tasks %time%</buildArgs>
        <description>Echo time</description>
      </exec>
	  
	  <exec>
        <executable>wmic</executable>
        <buildArgs>service where (name="ActivityServices" and state="running") call stopservice </buildArgs>
        <description>Stop ActivityServices</description>
	  </exec>
	  
	  <exec>
        <executable>wmic</executable>
        <buildArgs>service where (name="Pipeline" and state="running") call stopservice </buildArgs>
        <description>Stop Pipeline</description>
	  </exec>
	  
	  <exec>
        <executable>wmic</executable>
        <buildArgs>service where (name="BillingServer" and state="running") call stopservice </buildArgs>
        <description>Stop BillingServer</description>
	  </exec>
	  
	  <exec>
        <executable>wmic</executable>
        <buildArgs>service where (name="MetraPay" and state="running") call stopservice </buildArgs>
        <description>Stop MetraPay</description>
	  </exec>
	  
	  <exec>
        <executable>wmic</executable>
        <buildArgs>service where (name="MetraTech.FileService" and state="running") call stopservice </buildArgs>
        <description>Stop MetraTech.FileService</description>
	  </exec>
	  
	  <exec>
        <executable>wmic</executable>
        <buildArgs>service where (name="MetraTechDataExportService" and state="running") call stopservice </buildArgs>
        <description>Stop MetraTechDataExportService</description>
	  </exec>
	  
      <exec>
        <executable>cmd.exe</executable>
        <baseDirectory>$(ccnetDirectory)</baseDirectory>
        <buildArgs>/c echo TaskTimer= After prebuild tasks %time%</buildArgs>
        <description>Echo time</description>
      </exec>

    </prebuild>

    <tasks>

      <exec>
        <executable>cmd.exe</executable>
        <baseDirectory>$(ccnetDirectory)</baseDirectory>
        <buildArgs>/c echo TaskTimer= Before =Git Reverting %time%</buildArgs>
        <description>Echo time</description>
      </exec>	  
	 	
      <exec>
        <executable>GitRevert.bat</executable>
        <baseDirectory>$(gitCommandsDirectory)</baseDirectory>
        <buildTimeoutSeconds>1800</buildTimeoutSeconds>
        <description>Reverting changes made by previous build</description>
      </exec>
	  
	  <exec>
        <executable>PullInAllFolders.bat</executable>
        <baseDirectory>$(gitCommandsDirectory)</baseDirectory>
        <buildTimeoutSeconds>1800</buildTimeoutSeconds>
        <description>Pulling changes from github</description>
      </exec>
	  
      <msbuild>
        <executable>C:\Windows\Microsoft.NET\Framework64\v4.0.30319\MSBuild.exe</executable>
        <projectFile>$(ROOTDIR)\Build\MSBuild\MetraNetBuild.proj</projectFile>
        <buildArgs>/noconsolelogger /m /ds /p:config=$(version);MyTargets=Build /v:normal</buildArgs>
        <targets>All</targets>
        <timeout>1200</timeout>
        <logger>c:\Program Files (x86)\CruiseControl.NET\server\Rodemeyer.MsBuildToCCNet.dll</logger>
		<description>Build MetraNet</description>
      </msbuild> 
	 
      <exec>
        <executable>cmd.exe</executable>
        <baseDirectory>$(ccnetDirectory)</baseDirectory>
        <buildArgs>CryptoSetup -createkeys</buildArgs>
        <description>Encript passwords for DB connection strings. Create Keys.</description>
      </exec>
	  
	  <exec>
        <executable>cmd.exe</executable>
        <baseDirectory>$(ccnetDirectory)</baseDirectory>
        <buildArgs>CryptoSetup -encryptconfig</buildArgs>
        <description>Encript passwords for DB connection strings. Encrypt files.</description>
      </exec>

      <msbuild>
        <executable>C:\Windows\Microsoft.NET\Framework64\v4.0.30319\MSBuild.exe</executable>
        <projectFile>$(ROOTDIR)\..\..\MvmCore_Internal\SourceCode\Mvm\MVM.sln</projectFile>
        <buildArgs>/noconsolelogger /m /ds /property:Platform=x86;config=$(version) /v:normal</buildArgs>
        <targets>Build</targets>
        <timeout>1200</timeout>
        <logger>c:\Program Files (x86)\CruiseControl.NET\server\Rodemeyer.MsBuildToCCNet.dll</logger>
		<description>Build MVM</description>
      </msbuild> 
	  
	   <exec>
        <executable>regedit.exe</executable>
        <baseDirectory>$(ccnetDirectory)</baseDirectory>
        <buildArgs>-s $(ROOTDIR)\..\..\ICE_Internal\Source\Install\ICERegExport.reg</buildArgs>
        <description>Update the system registry to set/adjust entries required by ICE</description>
      </exec>

      <exec>
        <executable>cmd.exe</executable>
        <baseDirectory>$(ccnetDirectory)</baseDirectory>
        <buildArgs>rd /S /Q $(ROOTDIR)\..\..\ICE_Internal\Test\TestExtensions\RMP\Extensions\ValMessages</buildArgs>
        <description>Remove folders with invalid configurations. Need to remove this once configs are fixed.</description>
      </exec>

      <msbuild>
        <executable>C:\Windows\Microsoft.NET\Framework64\v4.0.30319\MSBuild.exe</executable>
        <projectFile>$(ROOTDIR)\..\..\ICE_Internal\Source\MetraTech\ICE\ICE.sln</projectFile>
        <buildArgs>/noconsolelogger /m /ds /property:Platform=x86;config=$(version); /v:normal</buildArgs>
        <targets>Build</targets>
        <timeout>1200</timeout>
        <logger>c:\Program Files (x86)\CruiseControl.NET\server\Rodemeyer.MsBuildToCCNet.dll</logger>
		<description>Build ICE solution</description>
      </msbuild> 

      <exec>
        <executable>C:\Windows\SysWow64\cscript.exe</executable>
        <baseDirectory>$(ccnetDirectory)</baseDirectory>
        <buildArgs>$(ROOTDIR)\Install\Scripts\Database.vbs</buildArgs>
        <description>Build database</description>
      </exec>

    </tasks>

    <publishers>
      <merge>
        <files>
<!--           <file>$(reportDirectory)\*.trx</file>
          <file>$(reportDirectory)\ConfigurationLoadErrors.xml</file> -->
        </files>
      </merge>

      <xmllogger logDir="c:\Program Files (x86)\CruiseControl.NET\server\Metanga Release\Logfiles" />

      <email mailhost="mail.metratech.com" mailport="25" from="SystemBuild@MetraTech.com" useSSL="false">
        <mailhostUsername>systembuild</mailhostUsername>
        <mailhostPassword>y3dUth6D</mailhostPassword>
        <includeDetails>True</includeDetails>
        <users>
          <user name="svishnevskiy" group="buildmaster" address="svishnevskiy@metratech.com"/>
        </users>
        <groups>
          <group name="buildmaster">
            <notifications>
              <notificationType>Always</notificationType>
            </notifications>
          </group>
          <group name="manager">
            <notifications>
              <notificationType>Always</notificationType>
            </notifications>
          </group>
          <group name="qa">
            <notifications>
              <notificationType>Always</notificationType>
            </notifications>
          </group>
        </groups>
        <converters>
          <regexConverter find="$" replace="@metratech.com" />
        </converters>
        <modifierNotificationTypes>
          <NotificationType>Failed</NotificationType>
          <NotificationType>Success</NotificationType>
        </modifierNotificationTypes>
      </email>

      <artifactcleanup cleanUpMethod="KeepLastXBuilds" cleanUpValue="10" />

      <statistics>
        <statisticList>
          <statistic name="Validation Total Issues" xpath="sum(//ValidationResults/Summary/NumErrors) + sum(//ValidationResults/Summary/NumWarnings) + sum(//ValidationResults/Summary/NumDocs)" generateGraph='true' include='true' />
          <statistic name="Validation Errors" xpath="sum(//ValidationResults/Summary/NumErrors)" generateGraph='true' include='true' />
          <statistic name="Validation Warnings" xpath="sum(//ValidationResults/Summary/NumWarnings)" generateGraph='true' include='true' />
          <statistic name="Validation Documentation" xpath="sum(//ValidationResults/Summary/NumDocs)" generateGraph='true' include='true' />
          <statistic name="Configuration Load Errors" xpath="sum(//ValidationResults/Summary/NumErrors)" generateGraph='true' include='true' />
          <statistic name="Configuration Load Warnings" xpath="sum(//ValidationResults/Summary/NumWarnings)" generateGraph='true' include='true' />
        </statisticList>
      </statistics>

      <modificationHistory />
    </publishers>

  </project>
  
</cruisecontrol>