<?xml version="1.0" encoding="utf-8"?>
<dashboard>
  <remoteServices>
    <servers>
      <!-- Update this list to include all the servers you want to connect to. NB - each server name must be unique -->
      <server name="local" url="tcp://localhost:21234/CruiseManager.rem" allowForceBuild="true" allowStartStopBuild="true" backwardsCompatible="false" />
    </servers>
  </remoteServices>
  <plugins>
    <farmPlugins>
      <farmReportFarmPlugin />
      <cctrayDownloadPlugin />
      <administrationPlugin password="ccnetrocks" />
    </farmPlugins>
    <serverPlugins>
      <serverReportServerPlugin />
      <serverLogServerPlugin />
      <serverInformationServerPlugin />
      <queueStatusServerPlugin />
      <projectConfigurationServerPlugin />
    </serverPlugins>
    <projectPlugins>
      <projectReportProjectPlugin />
      <viewProjectStatusPlugin />
      <latestBuildReportProjectPlugin />
      <viewAllBuildsProjectPlugin />
      <projectStatisticsPlugin xslFileName="xsl\StatisticsGraphs.xsl" />
      <serverLogProjectPlugin />
      <viewConfigurationProjectPlugin />
      <modificationHistoryProjectPlugin />
      <projectTimelinePlugin />
    </projectPlugins>
    <buildPlugins>
<!--       <buildReportBuildPlugin>
        <xslFileNames>
          <xslFile>xsl\header.xsl</xslFile>
          <xslFile>xsl\modifications.xsl</xslFile>
          <xslFile>xsl\compile.xsl</xslFile>
          <xslFile>xsl\msbuild2ccnet.xsl</xslFile>
          <xslFile>xsl\unittests.xsl</xslFile>
          <xslFile>xsl\MsTestSummary2008.xsl</xslFile>
          <xslFile>xsl\VSCodeCoverage.xsl</xslFile>
        </xslFileNames>
      </buildReportBuildPlugin> -->
      <buildLogBuildPlugin />
<!--       <xslReportBuildPlugin description="Code Coverage Report" actionName="CoverageBuildReport" xslFileName="xsl\VSCodeCoverage.xsl" />
      <xslReportBuildPlugin description="MS Test Report" actionName="MSTestBuildReport" xslFileName="xsl\MsTestReport2AllTests.xsl" />
	    <xslReportBuildPlugin description="MS Code Analysis Report" actionName="MSCodeAnalysisReport" xslFileName="xsl\msbuild2ccnet.xsl" />
	    <xslReportBuildPlugin description="MS Build Report" actionName="MSBuildBuildReport" xslFileName="xsl\msbuild.xsl"/>
	    <xslReportBuildPlugin description="NAnt Output" actionName="NAntOutputBuildReport" xslFileName="xsl\NAnt.xsl" />
	    <xslReportBuildPlugin description="NAnt Timings" actionName="NAntTimingsBuildReport" xslFileName="xsl\NAntTiming.xsl" /> -->
      <!--<xslReportBuildPlugin description="NDepend Report Text" actionName="NDependBuildReport" xslFileName="xsl\ndependreport-ccnet.v2.xsl" />
      <htmlReportPlugin description="NDepend Report Visual" actionName="ndepend" htmlFileName="NDepend\NDependReport.html"/>-->
      <!-- This is an example of using Project-specific build plugins
            <xslReportBuildPlugin description="My Other Report" actionName="MyOtherReport" xslFileName="xsl\MyOtherReport.xsl">
                <excludedProjects>
                    <projectName>My Project</projectName>
                </excludedProjects>
            </xslReportBuildPlugin>
            -->
    </buildPlugins>
    <securityPlugins>
      <simpleSecurity />
    </securityPlugins>
  </plugins>
</dashboard>